fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
pypdf
pytest
unstructured
markdown
python-multipart
langchain-openai
langchain-anthropic
python-dotenv
pyyaml
matplotlib
requests
httpx
